<div style="text-align:center">
  <h1>
    {{title}}
  </h1>
</div>
<div class="body-container grid grid-pad">
	<div class="all" id="all">
		<!-- <h2>ALL</h2>
		<app-cards></app-cards> -->
	</div>
	<app-all></app-all>
	<div class="all" id="todo">
		<!-- <h2>TO DO</h2>
		<app-cards></app-cards>
		<app-cards></app-cards>
		<app-cards></app-cards> -->
	</div>
	<app-todo></app-todo>
	<div class="all" id="progress">
		<!-- <h2>PROGRESS</h2>
		<app-cards></app-cards>
		<app-cards></app-cards> -->
	</div>
	<app-progress></app-progress>
	<div class="all" id="completed">
		<!-- <h2>COMPLETED</h2>
		<app-cards></app-cards>
		<app-cards></app-cards> -->
	</div>
	<app-completed></app-completed>
</div>
